/* @charset "utf-8";

.center {
  text-align: center;
} */
/* .center {
  text-align: center;
}

p.center, div.center, span.center, a.center {
  text-align: left;
} */
.center {
  text-align: center;
}

div.center, span.center, a.center {
  text-align: left;
}
