/* GridLayoutを用いて画像の様な配置になるcss */

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3列に分割 */
  grid-template-rows: repeat(2, 1fr); /* 2行に分割 */
  gap: 10px; /* グリッドアイテム間の隙間 */
}

.item1 {
  background-color: lightblue; /* グリッドアイテムの背景色 */
  border: 1px solid black; /* グリッドアイテムの枠線 */
  padding: 20px; /* グリッドアイテムの内側の余白 */
}

.grid-item:nth-child(1) {
  grid-column: span 2; /* 最初のグリッドアイテムを2列分に拡張 */
}

.grid-item:nth-child(4) {
  grid-column: span 2; /* 四番目のグリッドアイテムを2列分に拡張 */
}
