#container {
  display: grid; /*display: grid;はグリッドコンテナを作成する*/
  grid-template-columns: repeat(3, 1fr); /*grid-template-columns: repeat(3, 1fr);は3つの列を作成する*/
  grid-template-rows: 100px 1fr 1fr; /*grid-template-rows: 100px 1fr 1fr;は3つの行を作成する*/
  grid-template-areas: 
    "header header " 
    "item1 item2"
    "item1 item3"
    "item1 item4"
    "footer footer";
  grid-gap: 10px; /*grid-gap: 10px;はグリッドの各セルの間隔を指定する*/
  height: 100vh; /*height: 100vh;はコンテナの高さを画面の高さに合わせる*/
}

#header {
  grid-area: header; /*grid-area: header;はheaderをheaderに配置する*/
}
